@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700&display=swap');

@import "tailwindcss";


@keyframes loadingBar {
  from {
    width: 0%;
  }

  to {
    width: 100%;
  }
}

.animate-loading-bar {
  animation: loadingBar 1.1s linear forwards;
}